{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>

    {% load static %}
    
</head>
<body>

    <div>
        <img src="{{ product.image.url }}" alt="{{ product.description }}" style="max-width: 300px; max-height: 300px;">
        <h2>{{ product.description }}</h2>
        <p>Precio: ${{ product.selling_price }}</p>
    
        <!-- Botón para agregar al carrito -->
        <form method="post" action="#">
            {% csrf_token %}
            <button type="submit">Agregar al Carrito</button>
        </form>
    
        <!-- Botón para comprar directamente -->
        <form method="post" action="#">
            {% csrf_token %}
            <button type="submit">Comprar Directamente</button>
        </form>
    </div>

</body>

{% endblock content %}
